:root {
  --color-dark-blue: hsl(233, 47%, 7%);
  --color-desat-blue: hsl(244, 38%, 16%);
  --color-violet: hsl(277, 64%, 61%);
  --color-plumb: hsl(277, 86%, 48%);

  --color-white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --transparent-white-stat: hsla(0, 0%, 100%, 0.6);

  --weight-heavy: 700;
  --weight-reg: 400;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-dark-blue);

  color: var(--transparent-white-stat);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: var(--weight-reg);
}
header {
  display: none;
}
.stat-card {
  background-color: var(--color-desat-blue);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1.5rem;
  text-align: center;
}
.stat-card picture {
  position: relative;
}
.filter {
  background-color: var(--color-plumb);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.4;
}
.highlight {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: var(--weight-heavy);
  line-height: 1.2;
}
.accent {
  color: var(--color-violet);
}
.info {
  margin: 2.5rem 2rem;
  display: grid;
  gap: 2.5rem;
}
.info__text,
.info__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.info__data {
  gap: 1.5rem;
}

.data__chunk > p:nth-of-type(2) {
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

@media (min-width: 550px) {
  .stat-card {
    display: grid;
    grid-template-areas: "content illustration";
    grid-template-columns: 1fr 1fr;
    max-width: 1080px;

    text-align: left;
  }
  .info__text > .highlight {
    font-size: 2rem;
  }
  .visuals {
    grid-area: illustration;
  }

  .info {
    grid-area: content;
    margin: 4rem 8rem 4rem 4rem;
  }
  .info__data {
    flex-direction: row;
    justify-content: space-between;
  }
}
